/* General Box Styling */
.box {
    background-color: $sky;
    border-bottom: solid 1.5rem darken($sky, 4%);
    border-radius: 6px;
    color: white;

-webkit-box-shadow: 11px 9px 15px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 11px 9px 15px -5px rgba(0,0,0,0.75);
box-shadow: 11px 9px 15px -5px rgba(0,0,0,0.75);
}

.box-header {
    border-bottom: 0.2rem solid $light-blue;
    font-size: 2.8rem;
    padding-bottom: 0.6rem;
}

.box__badges-container {
    display: flex;
    justify-content: center;
    width: 100%;

    .skill-badge {
        max-width: 6.5rem;
        height: auto;
    }
}