/* General Box Styling */
.box {
    background-color: $sky;
    border-bottom: solid 1.5rem darken($sky, 4%);
    border-radius: 6px;
    box-shadow: 0px 2px 14px 6px #c5c5c5;
    color: white;
    -webkit-box-shadow: 0px 2px 14px 6px #c5c5c5;
}

.box-header {
    border-bottom: 0.2rem solid $light-blue;
    font-size: 2.8rem;
    padding-bottom: 0.6rem;
}




/* Skills Box Styling */
.skills-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 $s-size;
    width: 50%;
}

.skills-box__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skill-badge {
    background-color: lighten($sky, 3%);
    border-bottom: solid 0.3rem darken($sky, 5%);
    border-right: solid 0.3rem darken($sky, 5%);
    border-radius: 8px;
    display: block;
    height: auto;
    max-width: 10rem;
    max-height: 10rem;
    margin: $m-size;
    width: auto;
}



/* Project Box Styling */
.project-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    // padding: 0 $s-size;
    width: 40%;
}

.project-box__desc {
    border-top: solid 0.2rem $light-blue;
    font-size: $s-font;
    padding: $s-size;
}

.project-box__badges {
    border-top: solid 0.2rem $light-blue;
    display: flex;
    justify-content: center;

    .skill-badge {
        max-width: 8rem;
        max-height: 8rem;
    }
}