.greeting-sign {
    background: none;
    z-index: 1;
}

.greeting-sign__title {
    font-size: $xxl-size;
    color: white;
}

.greeting-sign__subtitle {
    color: $light-blue;
    display: flex;
    justify-content: space-around;
    font-size: $l-size;
}