.navbar {
    background-color: lighten($sky, 5%);
    border-bottom: .4rem solid $light-blue;
    display: flex;
    justify-content: flex-start;
    opacity: 0;
    width: 100%;
    z-index: 10;

    // Box Shadow


    // Animation
    transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
}

.navbar--sticky {
    opacity: 1;
    position: fixed;
    top: 0;

    // Animation
    transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
}

.navbar-button {
    background-color: lighten($sky, 5%);
    border: none;
    color: white;
    cursor: pointer;
    font-size: 2rem;
    padding: $s-size $l-size;

    // Animation
    transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    -webkit-transition: color 0.5s ease;
}

.navbar-button--active {
    color: $neon-cherry;

    // Animation
    transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    -webkit-transition: color 0.5s ease;
}

/* Media Queries */
@media (max-width: $mobile-breakpoint) {

    .navbar {
        justify-content: center;
        border-bottom: .2rem solid $light-blue;
        opacity: 1;
        position: fixed;
        top: 0;
    }

    .navbar-button {
        // font-size: $mobile-s-font;
        padding: $s-size $m-size;
    }

    .navbar-button__text { 
        font-size: 0;
    }

}