.navbar {
    background-color: lighten($sky, 5%);
    border-bottom: .4rem solid $light-blue;
    display: flex;
    justify-content: flex-start;
    opacity: 0;
    width: 100%;
    z-index: 10;

    transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
}

.navbar--sticky {
    opacity: 1;
    position: fixed;
    top: 0;
    transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
}

.navbar-button {
    background-color: lighten($sky, 5%);
    border: none;
    color: white;
    font-size: 2.4rem;
    padding: $s-size $l-size;
}

.navbar-button--active {
    color: red;
}