.profile-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: $s-size;
}

.profile-wrapper {
    width: 30%;
}

.profile-box__pic {
    // TODO: Add media queries to shrink image on smaller resolutions
    border: 0.3rem solid $light-blue;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    height: 25rem;
    margin-top: $s-size;
    //padding-bottom: $m-size;
    width: 20rem;
}

.profile-box__desc {
    font-size: $s-font;
    color: white;
    justify-content: center;
}

/* Media Queries */
@media (max-width: $mobile-breakpoint) {

    .profile-wrapper {
        width: 100%;
        margin-bottom: $l-size;
    }

    .profile-box__desc {
        font-size: $mobile-s-font;
    }

    .profile-box__pic {
        height: 17rem;
        width: 14rem;
    }
}