.profile-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: $s-size;
    width: 30%;
}

.profile-box__pic {
    // TODO: Add media queries to shrink image on smaller resolutions
    border-bottom: 0.2rem solid $light-blue;
    display: flex;
    flex-wrap: wrap;
    height: 20rem;
    padding-bottom: $m-size;
    width: 20rem;
}

.profile-box__desc {
    font-size: $s-font;
    color: white;
    justify-content: center;
}