/* Project Box Styling */
.project-box {
    position: relative;
    min-height: 30rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    // padding: 0 $s-size;
    width: 40%;
}

.project-box__header-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.project-box__header {
    border: none;
}

.project-box__image {
    vertical-align: middle;
    background-color: #D95141;
    border: solid 0.3rem $light-blue;
    border-radius: 50%;
    max-width: 10rem;
    max-height: 10rem;
}

.project-box__container {
    border-bottom: solid 0.2rem $light-blue;
    margin-bottom: 8rem;
}

.project-box__desc {
    font-size: $s-font;
    padding: $s-size;
}

.project-box__badges {
    // border-top: solid 0.2rem $light-blue; // Disable border until information is displayed
    display: flex;
    justify-content: center;
    width: 100%;

    .skill-badge {
        max-width: 6.5rem;
        max-height: 6.5rem;
    }
}


/* Button Container */
.project-box__button-container {
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    left: 0;
    margin-bottom: $l-size;
    position: absolute;
    width: 100%;
}




/* Image Strike-thru line effect */
.project-box__header-strike {
    color: $light-blue;
    width: 100%;
    display: block;
    overflow: hidden;
    text-align: center;
}

.project-box__header-strike:before,
.project-box__header-strike:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 50%;
    border-top-style: solid;
    border-top-width: 0.2rem;
}

.project-box__header-strike:before {
    right: 0.5em;
    margin-left: -50%;
}

.project-box__header-strike:after {
    left: 0.5em;
    margin-right: -50%;
}






/* Animations */
@keyframes spin-clockwise {
    from { transform: rotate(0deg); }
    to { transform: rotate(270deg); }
}

@keyframes spin-counter-clockwise {
    from { transform: rotate(270deg); }
    to { transform: rotate(0deg); }
}

.project-box__image--opened {
    animation-duration: 1s;
    animation-fill-mode: forwards;   
    animation-name: spin-clockwise;
}

.project-box__image--closed {
    animation-duration: 1s;
    animation-fill-mode: forwards;   
    animation-name: spin-counter-clockwise;
}

.project-box__container--visible {
    opacity: 1;
    max-height: 500rem;
    transition: max-height 1s ease-in, opacity 0.5s ease-in;
    -webkit-transition: max-height 1s ease-in, opacity 0.5s ease-in;
}

.project-box__container--invisible {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    -webkit-transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    opacity: 0;
}