/* Project Box Styling */
.project-box {
    position: relative;
    min-height: 30rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.project-box-wrapper {
    width: 40%;
}

.project-box__header-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.project-box__header {
    border: none;
}

.project-box__image {
    vertical-align: middle;
    background-color: #D95141;
    border: solid 0.3rem $light-blue;
    border-radius: 50%;
    cursor: pointer;
    max-width: 10rem;
    max-height: 10rem;
}

.project-box__container {
    border-bottom: solid 0.2rem $light-blue;
    margin-bottom: 8rem;
}

.project-box__desc {
    font-size: $s-font;
    padding: $s-size;
}

/* Button Container */
.project-box__button-container {
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    left: 0;
    padding-top: $xl-size;
    margin-bottom: $m-size;
    position: absolute;
    width: 100%;
}

.link-button {
    background-color: $sky;
    border: 0.2rem solid white;
    color: white;
    cursor: pointer;
    font-size: $s-font;
    padding: $s-size $l-size;
    text-decoration: none;

    transition: background-color 0.5s ease, border 0.5s ease;
    -moz-transition: background-color 0.5s ease, border 0.5s ease;
    -o-transition: background-color 0.5s ease, border 0.5s ease;
    -webkit-transition: background-color 0.5s ease, border 0.5s ease;
}

.link-button:hover {
    background-color: $neon-cherry;
    border: 0.2rem solid darken($neon-cherry, 10%);

    transition: background-color 0.5s ease, border 0.5s ease;
    -moz-transition: background-color 0.5s ease, border 0.5s ease;
    -o-transition: background-color 0.5s ease, border 0.5s ease;
    -webkit-transition: background-color 0.5s ease, border 0.5s ease;
}

.link-button:focus {
    outline: none;
}




/* Image Strike-thru line effect */
.project-box__header-strike {
    color: $light-blue;
    width: 100%;
    display: block;
    overflow: hidden;
    text-align: center;
}

.project-box__header-strike:before,
.project-box__header-strike:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 50%;
    border-top-style: solid;
    border-top-width: 0.2rem;
}

.project-box__header-strike:before {
    right: 0.5em;
    margin-left: -50%;
}

.project-box__header-strike:after {
    left: 0.5em;
    margin-right: -50%;
}






/* Animations */
@keyframes spin-clockwise {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes spin-counter-clockwise {
    from { transform: rotate(360deg); }
    to { transform: rotate(0deg); }
}

.project-box__image--opened {
    animation-duration: 0.8s;
    animation-fill-mode: forwards;   
    animation-name: spin-clockwise;
}

.project-box__image--closed {
    animation-duration: 0.8s;
    animation-fill-mode: forwards;   
    animation-name: spin-counter-clockwise;
}

.project-box__container--visible {
    opacity: 1;
    max-height: 500rem;

    transition: max-height 1s ease-in, opacity 0.5s ease-in;
    -moz-transition: max-height 1s ease-in, opacity 0.5s ease-in;
    -o-transition: max-height 1s ease-in, opacity 0.5s ease-in;
    -webkit-transition: max-height 1s ease-in, opacity 0.5s ease-in;
}

.project-box__container--invisible {
    max-height: 0;
    overflow: hidden;

    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    -moz-transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    -o-transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    -webkit-transition: max-height 0.5s ease-out, opacity 0.5s ease-out;

    opacity: 0;
}



/* Media Queries */
@media (max-width: $mobile-breakpoint) {
    .project-box {
        margin-bottom: $l-size;
    }

    .project-box-wrapper {
        
        width: 100%;
    }

    .project-box__image {
        max-width: 6rem;
        max-height: 6rem;
        
        // Disable tap highlighting
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent;
    }

    .link-button {
        background-color: $neon-cherry;
        border: none;
        border-bottom: 0.4rem solid darken($neon-cherry, 10%);
        font-size: $mobile-m-font;
        padding: $xs-size $s-size;
    }

    .project-box__desc {
        font-size: $mobile-s-font;
        padding: $s-size;
    }

    .project-box__badges .skill-badge {
        max-width: 4rem;
    }
}