.section {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: $xl-size 0;
    padding: $xl-size $xl-size;
}

/* About Section */
.about-section {
    margin-top: 8rem;
}

/* Projects Section */
.projects-section {
    background-color: $light-gray;
    padding-bottom: $xl-size;
}

.section__header {
    border-bottom: 0.4rem solid $neon-cherry;
    color: lighten($sky, 3%);
    display: inline-block;
    font-size: $xl-size;
    margin-bottom: 12rem;
    padding-bottom: $s-size;
    text-shadow: 3px 2px 1px rgba(105, 105, 105, 0.3);
}

.section__body {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

/* Work Section */
#work-section {
    padding-bottom: $xl-size;
}

#work-section__body {
    position: relative;
    display: flex;
    flex-flow: row wrap;
}


/* Media Queries */
@media (max-width: $mobile-breakpoint) {
    .section {
        margin: $s-size 0;
        padding: 0 3.5rem;
    }

    .section__header {
        margin-bottom: $l-size;
    }

    .section__body {
        align-items: center;
        flex-direction: column;
    }

    .about-section {
        margin: 4rem 0;
    }
}

.active {
    color: red;
}
