.skills-box {
    align-items: center;
    background-color: $light-gray;
    border: 0.2rem solid $light-gray;
    border-radius: 10px;
    box-shadow: 0px 2px 14px 6px #c5c5c5;
    display: flex;
    flex-direction: column;
    padding: 0 $s-size;
    width: 50%;
    -webkit-box-shadow: 0px 2px 14px 6px #c5c5c5;
}

.skills-box__header {
    border-bottom: 0.2rem solid $light-blue;
    font-size: 2.8rem;
    padding-bottom: 0.6rem;
}

.skill-badge {
    display: block;
    max-width: 10rem;
    max-height: 10rem;
    height: auto;
    width: auto;
}