.starry-sky {
    align-items:center;
    background: $sky;
    color: white;
    display: flex;
    height: $sky-size;
    justify-content: center;
    padding: $m-size;
}

.starry-sky__canvas {
    position: absolute;
}