.starry-sky {
    align-items:center;
    background: $sky;
    color: white;
    display: flex;
    height: $sky-size * 2;
    justify-content: center;
    margin-bottom: $m-size;
    padding: $m-size;
}

.starry-sky__canvas {
    position: absolute;
}