html {
    font-size: 62.5%;
}

body {
    // background-color: $dark-blue;
    font-family: 'Didact Gothic', sans-serif;
    height: 150rem;
}

.cherry-text {
    color: $neon-cherry;
}

input:required {
    box-shadow: none;
}

textarea:required {
    box-shadow: none;
}