// Colours
$light-blue: #50EBED;
$solid-black: rgb(35, 48, 63);
$sky: #252933;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$xxl-size: 6.4rem;

$sky-size: 50rem;
$desktop-breakpoint: 45rem;