// Colours
$light-blue: #50ebed;
$solid-black: #23303f;
$sky: #252933;
$light-gray: #f0f0f0;
$neon-cherry: #f71f79;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$xxl-size: 6.4rem;

$sky-size: 50rem;
$desktop-breakpoint: 45rem;

// Font Size
$s-font: 2rem;
$m-font: 2.1rem;